version: '3.3'
services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.13.2
    container_name: elasticsearch
    environment:
      - node.name=elasticsearch
      - cluster.name=elk
      - cluster.initial_master_nodes=elasticsearch
      - network.host=0.0.0.0
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
      - xpack.monitoring.collection.enabled=true
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - data01:/usr/share/elasticsearch/data
    ports:
      - 9200:9200

  logstash:
    image: logstash_7.13.2
    container_name: logstash
    build:
      context: logstash
      dockerfile: Dockerfile
    entrypoint:
      - /bin/bash
      - /usr/share/logstash/bin/logstash
      - -f 
      - /data/elk/logstash/pipeline/
      - --java-execution
    depends_on:
      - elasticsearch
    mem_limit: 512m
    environment:
      - "LS_JAVA_OPTS=-Xmx512m -Xms512m"
    volumes:
      - "$PWD/logstash/pipeline:/data/elk/logstash/pipeline/"
    ports:
      - 5044:5044

  kibana:
    image: docker.elastic.co/kibana/kibana:7.13.2
    container_name: kibana
    environment:
      - "LOGGING_QUIET=true"
      - xpack.monitoring.collection.enabled=true
    mem_limit: 512m
    environment:
      - "KS_JAVA_OPTS=-Xmx512m -Xms512m"
    depends_on:
      - elasticsearch
    ports:
      - 5601:5601 

  heartbeat:
    image: heartbeat_7.13.2
    container_name: heartbeat
    build:
      context: heartbeat
      dockerfile: Dockerfile
    depends_on:
      - elasticsearch
    volumes:
      - "$PWD/heartbeat/heartbeat-config:/data/elk/heartbeat/config/"

  metricbeat:
    image: metricbeat_7.13.2
    container_name: metricbeat
    build:
      context: metricbeat
      dockerfile: Dockerfile
    depends_on:
      - elasticsearch
      - kibana
    volumes:
      - "$PWD/metricbeat/metricbeat-config:/data/elk/metricbeat/modules.d"

  filebeat:
    image: filebeat_7.13.2
    container_name: filebeat
    build:
      context: filebeat
      dockerfile: Dockerfile
    volumes:
      - "$PWD/filebeat/filebeat-config:/data/elk/filebeat/config/"
      - log_drive:/data/elk/

  quarkus-app1:
    image: ronelcoe/quarkus-app1:1.0
    container_name: quarkus-app1
    volumes:
      - log_drive:/data/elk/
    ports:
      - 8080:8080
      
volumes:
  data01:
    driver: local
  log_drive:
    driver: local